/* BootstrapCDN  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css");
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global */
body{
  background: rgb(219, 232, 242);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

::-moz-selection {background: #ffffff;}
::selection {background: #ffffff;}

.home-wrapper{
  margin: 65px 0px 0px;
}
.home-wrapper .container{
  max-width: 990px;
}
.home-wrapper .card{
  padding: 35px 25px;
  border-radius:8px;
}
.home-wrapper .card h2{text-align: center; font-size: 42px; font-weight: 600; color: rgb(68, 66, 66);}
.home-wrapper h2 span{
    color: rgba(108,171,74,1.00);
}
.home-wrapper h3{color:rgb(51, 51, 51); text-align: center; font-weight: 700; font-size: 32px; margin-top: 15px;}
.home-wrapper h3 span{color:rgb(234, 0, 0);}
.home-wrapper h2 hr{border-top: 1px solid rgb(202, 202, 202);}
.home-wrapper h3{
}

.home-wrapper ul{
  margin-left: 0px;
  padding-left: 0;
}

.home-wrapper ul li{
  font-size: 18px;
  color: rgb(102, 102, 102);
  font-weight: 600;
}

.home-wrapper ul li{
  margin-bottom:15px;
}

.home-wrapper img.mid-img{

}

.home-wrapper ul li{
  list-style: none;
}

.home-wrapper img{
  margin-top: -4px;
  margin-right:5px;
}

.card-footer{
  background:transparent url('../img/footer-bg.png') no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  border: none;
  margin: 25px 30px 0px;
  height: 175px;
  line-height: 170px;
}

.card-footer a{
  color: #ffffff;
  background: #26b745;
}

.card-footer span{color:#ffffff;}

.card-footer .btn{
  font-weight: 600;
  font-size:46px;
}

.card-footer .btn.focus, .card-footer .btn:focus{  
  box-shadow: none;
}

.btn-icon{
  height:40px;
}

.card-footer{text-align: center;}

.card-footer .btn{width: 600px; padding: 8px 0px; line-height: 55px; border-radius: 5px;}

.card-footer .btn svg{margin-right:10px; margin-top: -9px;}

.card-footer .btn:hover{color:#ffffff;}


.card-footer hr{
  border: 1px solid  rgb(202, 202, 202) !important;
}

footer{
  padding-top:30px;
  padding-bottom:30px;
}

footer a{
  color: rgb(30, 30, 30);
  font-weight: 500;
}

footer a:hover{
  text-decoration: none;  
  color: rgb(30, 30, 30);
}

footer span{
  margin: 0px 10px;
}

body.innerpage{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.navbar{
  padding: 30px 0px;
}

.navbar-brand{
  font-weight: 700;
  font-size:28px;
}

ul.navbar-nav li.nav-item:not(:last-child){
  margin-right: 30px;
}

.innerpage-content{
  padding: 50px 0px;
}

.innerpage-content .card{padding: 30px;}

.innerpage-content .card p{font-size: 18px;}

.innerpage-content .card h2{
  margin-bottom: 20px;
} 

.innerpage-content .card h3{
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 400;
}

.footer{
  padding: 25px 0px;
  background: #55555e;
}

.footer p{
  color: #ffffff;
  margin-bottom: 0;
}

.innerpage-content input{
  height: 50px;
}

textarea, input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea, select{
   color: #666666;
    background-color: #fafafa;
    border-color: #cccccc;
}

.form-control{
  background-color: #fafafa;
    border-color: #cccccc;
}

form .btn{
  margin-top: 15px;
  border-radius: 0px;
  padding: 10px 30px;
}

form {
  padding-bottom:40px;
}

form .form-control{
  border-radius: 0px;
}

form .form-control:focus{
  box-shadow: none;
}



/* Responsive Media Queries  */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link{
    padding: 0;
  }
  .navbar-light .navbar-nav .nav-link{
    color: #7a8896;
    font-size: 16px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
/* Extra large devices (Extra large desktops, 1366px and up) */
@media (min-width: 1366px) {}
/* Extra large devices (Extra large desktops, 1440px and up) */
@media (min-width: 1440px) {}
/* Extra large devices (Extra large desktops, 1600px and up) */
@media (min-width: 1600px) {}
/* Extra large devices (Extra large desktops, 1680 and up) */
@media (min-width: 1680px) {}
/* Extra large devices (Extra large desktops, 1920 and up) */
@media (min-width: 1920px) {}



          /* Max Width With Start Point */
/* Extra large devices (Extra large desktops, 1920 and Down) */
@media (max-width: 1919.98px) {}

/* Extra large devices (Extra large desktops, 1680 and Down) */
@media (max-width: 1679.98px) {}

/* Extra large devices (Extra large desktops, 1600px and Down) */
@media (max-width: 1599.98px) {}

/* Extra large devices (Extra large desktops, 1440px and Down) */
@media (max-width: 1439.98px) {}

/* Extra large devices (Extra large desktops, 1366px and Down) */
@media (max-width: 1365.98px) {}

/* Extra large devices (large desktops, 1200px and Down) */
@media (max-width: 1199.98px) {
  
}

/* Large devices (desktops, 992px and Down) */
@media (max-width: 991.98px) {
  .home-wrapper {
      margin: 0px;
  }
  .home-wrapper .container{max-width: 100%; padding: 0;}
  .home-wrapper .card h2{font-size: 36px;}
  .home-wrapper img.mid-img {
    margin-top: 0px !important;
  }
  .home-wrapper h3{margin-bottom: 25px;}
  .home-wrapper .card{border-radius:0px;}
  .navbar-brand{font-size: 22px;}
  ul.navbar-nav li.nav-item:not(:last-child) {
      margin-right: 18px;
  }
}

/* Medium devices (tablets, 768px and Down) */
@media (max-width: 767.98px) {
  .home-wrapper h3 , .home-wrapper .card h2 {font-size:24px;}
  .card-footer .btn {
    width: 300px;
    padding: 10px 0px;
    line-height: normal;
    border-radius: 5px;
    font-size: 20px;
  }
  .card-footer .btn svg{height: 20px; margin-top: -3px;}
  .card-footer .btn{margin-top: -3px;}
  .home-wrapper h3{margin-bottom:45px;}
  .innerpage-content .card h3{font-size: 24px; margin: 15px 0px;}
  .innerpage-content .card p{font-size: 16px;}
  .navbar {
    padding:0px;
  }
  .navbar-expand-md > .container{
    max-width: 100%;
  }
  .navbar-light .navbar-brand{margin-left: 15px; margin-top: 15px; margin-bottom: 15px;}
  .navbar-light .navbar-toggler{margin-right: 15px;}
  .innerpage-content {
    padding: 30px 0px;
  }
  ul.navbar-nav li.nav-item:not(:last-child){
    margin-right: 0;
  }
  ul.navbar-nav li.nav-item a{
    display: block;
    padding: 8px 15px;
    border-top: 1px solid #f1f1f1;
  }
  ul.navbar-nav li.nav-item:last-child a{padding-bottom: 12px;}
  .innerpage-content .card ul{
    padding-left: 17px;
    margin-left: 0;
  }
}

/* Small devices (landscape phones, 576px and Down) */
@media (max-width: 575.98px) {
  .card-footer{margin: 0px;}
  footer p{margin-bottom: 0px;}  
}


          /* Max Width */
/* Small devices (landscape phones, 480px and down) */
@media (max-width: 480px) {
  .card-footer{height: auto; line-height: normal; padding: 60px 0px; }
  .card-footer .btn{width: 230px;}
  .home-wrapper h2 span{
    display: block;
    line-height: 38px;
  }
  .home-wrapper h3{font-size:18px;}
  .card-footer .btn{font-size: 18px; margin-top: -3px;}
  .home-wrapper .card{padding: 15px;}
  footer a{font-size: 14px;}
  .card-footer .btn {
    font-size: 16px;
    margin-top: 6px;
  }
  .home-wrapper h3{font-size: 16px;}
}

/* Small devices (landscape phones, 414px and down) */
@media (max-width: 414px) {
  .card-footer .btn svg{margin-right: 5px;}
}

/* Small devices (landscape phones, 384px and down) */
@media (max-width: 384px) {}

/* Small devices (landscape phones, 360px and down) */
@media (max-width: 360px) {
  .card-footer .btn {
    width: 225px;
  }

}

/* Small devices (landscape phones, 360px and down) */
@media (max-width: 320px) {}

/* Orientation Portrait */
@media only screen and (max-width: 800px) and (orientation: portrait) {
}        

     
